
{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
 <section>

    

    {% if user.is_authenticated %}

    <h1 class="display-1 text-center">Django History</h1>
    <p>Gracias por registrarte!</p> <hr>
    <p>Django nació naturalmente de aplicaciones de la vida real escritas por un equipo de desarrolladores Web en Lawrence, Kansas. Nació en el otoño boreal de 2003, cuando los programadores Web del diario Lawrence Journal-World, Adrian Holovaty y Simon Willison, comenzaron a usar Python para crear sus aplicaciones.

        El equipo de The World Online, responsable de la producción y mantenimiento de varios sitios locales de noticias, prosperaban en un entorno de desarrollo dictado por las fechas límite del periodismo. Para los sitios — incluidos LJWorld.com, Lawrence.com y KUsports.com — los periodistas (y los directivos) exigían que se agregaran nuevas características y que aplicaciones enteras se crearan a una velocidad vertiginosa, a menudo con sólo días u horas de preaviso. Es así que Adrian y Simon desarrollaron por necesidad un framework de desarrollo Web que les ahorrara tiempo — era la única forma en que podían crear aplicaciones mantenibles en tan poco tiempo —.
        
        En el verano boreal de 2005, luego de haber desarrollado este framework hasta el punto en que estaba haciendo funcionar la mayoría de los sitios World Online, el equipo de World Online, que ahora incluía a Jacob Kaplan-Moss, decidió liberar el framework como software de código abierto. Lo liberaron en julio de 2005 y lo llamaron Django, por el guitarrista de jazz Django Reinhardt.
        
        A pesar de que Django ahora es un proyecto de código abierto con colaboradores por todo el mundo, los desarrolladores originales de World Online todavía aportan una guía centralizada para el crecimiento del framework, y World Online colabora con otros aspectos importantes tales como tiempo de trabajo, materiales de marketing, y hosting/ancho de banda para el Web site del framework <a href="https://www.djangoproject.com/">(www.djangoproject.com).</a></p>
        <hr>
        <a ><b>Fuente: </b><a href="https://uniwebsidad.com/libros/django-1-0/capitulo-1/la-historia-de-django#:~:text=Django%20naci%C3%B3%20naturalmente%20de%20aplicaciones,Python%20para%20crear%20sus%20aplicaciones.">Uniwebsidad</a> </a>
    
    
    {% else %}
    <h1 class="display-1 text-center"> Welcome!</h1>
    <h3 class="text-center">Te contare la historia de Django! registrate para crear tus tareas ✏️</h3>
    <h4 class="text-center">Y saber como se creo este hermoso framework!</h4>
<div class="text-center">
    <a href="/signin/" class="btn btn-primary">Iniciar Sesion</a>
    <a href="/signup/" class="btn btn-warning">Registrarse</a>
    {% endif %}
</div> 



 </section>

</main>


{% endblock %}